PORT=4000
JWT_SECRET=change_me
JWT_EXPIRES_IN=1d
DB_PATH=./data/recrutement.sqlite
UPLOAD_DIR=./uploads
CORS_ORIGIN=http://localhost:4200
CORS_CREDENTIALS=false
SEED_SUPER_ADMIN=true
SEED_SUPER_ADMIN_EMAIL=admin@recrutement.local
SEED_SUPER_ADMIN_PASSWORD=Admin123!
SEED_SUPER_ADMIN_NOM=Admin
SEED_SUPER_ADMIN_PRENOM=Super
SEED_SUPER_ADMIN_TELEPHONE=0000000000
